[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = {extras = ["daphne"], version = "*"}
djangorestframework = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
clerk-backend-api = "*"
httpx = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
